/* 整体布局 开始 */
#banner {
    padding: 32px;
}

.banner-box {
    height: 482px;
}

.g-banner {
    height: 382px;
}

.course-list {
    border-radius: 8px 0 0 0;
    width: 256px;
    height: 382px;
    background-color: blueviolet;
}

.swiper {
    border-radius: 0 8px 0 0;
    width: 896px;
    height: 382px;
    background-color: yellow;
}

.sys-class {
    height: 100px;
    border-radius: 0 0 8px 8px;
    background-color: blue;
}

/* 整体布局 结束 */