/* 通栏div */
#header {
    min-width: 1300px;
    height: 72px;
    border-bottom: 1px solid #ccc;
}

/* 头部内容居中设置 */
.nav-box {
    width: 1300px;
    margin: 0 auto;
}

/* logo设置 */
.nav-box h1 {
    width: 126px;
    height: 72px;
    background-image: url(../images/logo.png);
    background-size: contain;
}

.nav-box h1 a {
    display: block;
    width: 126px;
    height: 72px;
    font-size: 0;
}

/* 设置课程导航 */
.item-box {
    position: relative;
    margin-left: 20px;
    height: 72px;
    line-height: 72px;
}

.item-box li {
    padding: 0 16px;
    float: left;
}

.item-box img {
    width: 14px;
    position: absolute;
    top: 18px;
    left: 220px;
}

/* 搜索框 */
.search {
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    padding: 16px 0;
}

.search div {
    background-color: #F3F5F6;
}

.search div input {
    padding-left: 10px;
    width: 300px;
    height: 30px;
    background-color: #F3F5F6;
    border: 0;
}

.search .iconfont {
    margin-right: 10px;
}

/* 登录/注册区域 */
.login-area {
    position: relative;
    height: 72px;
    line-height: 72px;
}

.login-area a {
    padding: 0 20px;
}

.login-area .shop-cart {
    border: 1px solid #CCC;
    color: #F01414;
    background-color: #F5F5F5;
    padding: 8px 20px;
}

.cart-num {
    position: absolute;
    top: 6px;
    right: 25px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50% 50% 50% 0;
    color: #FFF;
    background-color: #F01414;
    font-size: 12px;
}