#ms {
    padding: 20px 0;
}

.ms-box {
    height: 342px;
}

.ms-box h3 {
    height: 82px;
}

.countdown-box {
    height: 260px;
}

.ms-box .countdown {
    height: 260px;
    width: 185px;
    background-color: #E94443;
    text-align: center;
    color: #fff;
}

.ms-box .ms-list {
    height: 260px;
    width: 960px;
}

.ms-box h3 img {
    width: 180px;
}

/* 倒计时模块 */
.ms-box .countdown h4 {
    margin-top: 20px;
    font-size: 20px;
}

.ms-box .countdown .iconfont {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
}

.ms-box .countdown p {
    margin-top: 20px;
}

.timer {
    margin-top: 20px;
}

.timer div {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #333;
}

/* 滚动课程 */
.ms-box .ms-list li {
    position: relative;
    float: left;
    width: 234px;
    height: 260px;
    margin-left: 6px;
    background-color: #fff;
}

.ms-box .ms-list li img {
    width: 234px;
}

.ms-box .ms-list .title {
    margin-top: 10px;
    margin-left: 10px;
    color: #545C63;
}

.ms-box .ms-list .difficulty {
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: 12px;
}

.ms-box .ms-list .price {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 12px;
    color: #F01414;
    font-weight: 700;
}